@tailwind base;
@tailwind components;
@tailwind utilities;



/* @layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
} */
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    -webkit-overflow-scrolling: touch;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #326fd1 !important;
    cursor: grab;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background: #183462 !important;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 3px !important;
        height: 3px !important;
        -webkit-overflow-scrolling: touch;
    }
}

@media only screen and (max-width: 638px) {
    .scale-in {
        animation: scaleIn 0.4s forwards;
        transform-origin: top;

    }

    .scale-out {
        animation: scaleOut 0.4s forwards;
        transform-origin: top;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}